# Django settings for pablo project.


# "Testing"
DEBUG = True
TEMPLATE_DEBUG = DEBUG

# "Production"
#DEBUG = False
#TEMPLATE_DEBUG = False


#Relative paths
import os, django
DJANGO_ROOT = os.path.dirname(os.path.realpath(django.__file__))
SITE_ROOT = os.path.dirname(os.path.realpath(__file__))

ADMINS = (
    # ('Aman', 'amanahuja@gmail.com'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', 
        'NAME': os.path.join(SITE_ROOT, 'db/') + 'pablo_db',                      
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost.
        'PORT': '',                      # Set to empty string for default. 
    }
}

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# On Unix systems, a value of None will cause Django to use the same
# timezone as the operating system.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = 'America/Los_Angeles'

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale
USE_L10N = True

'''
Managing static files (updated in django 1.4)
https://docs.djangoproject.com/en/1.4/howto/static-files/
https://docs.djangoproject.com/en/1.4/ref/contrib/staticfiles/
'''
/STATIC_ROOT = '/pablomedia/'
STATIC_URL = '/pablomedia/'
#ADMIN_MEDIA_PREFIX = '/pablomedia/admin/' # DEPRACATED and replaced. 

#Cache backend settings
CACHE_BACKEND = 'db://cache_table'
SESSION_ENGINE = 'django.contrib.sessions.backends.cached_db'

# Make this unique, and don't share it with anybody.
SECRET_KEY = 'PUT YOUR SECRET KEY HERE'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader',
#     'django.template.loaders.eggs.Loader',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
)

ROOT_URLCONF = 'pablo.urls'

TEMPLATE_DIRS = (
    os.path.join(SITE_ROOT, 'templates'),
    # "/usr/local/django_templates",
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',

    # Admin
    'django.contrib.admin',
    # 'django.contrib.admindocs',
 
    'pablo.sentence',
    'pablo.meta',
)
