{% extends "base.html" %}
{% block meta %}
<META name="description" content="Pablo's favorite sayings" />
 <meta property="og:title" content="what Pablo said" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://thesexycow.com/saved/" />
<title>Pablo sayings</title>
{% endblock %}

{% block content %}
<div class="header"></div>
<h2>Pablo said...</h2>

<div id="bestseller">
<div class="bs-wrap"><div class="bs-vote"><h4>Votes</h4></div></div>
{% for ss in bslist %}
<div class="bs-wrap">
    <div class="bs-sentence"><a href="{{ ss.get_absolute_url }}">{{ ss.sentence }}</a></div> 
    <div class="bs-vote"><a href="/vote/{{ss.id}}/">{{ ss.votes }}</a></div>
</div>
{% endfor %}
</div>
{% endblock %}
