<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META name="description" content="This is what Pablo says." />
<meta property="og:title" content="what Pablo said"/>
<meta property="og:type" content="website" />
<meta property="og:site_name" content="What did Pablo say?"/>
<meta property="fb:admins" content="29101291" />
<meta property="fb:app_id" content="148028878582803" />
<meta property="og:image" content="http://thesexycow.com/pablomedia/images/pablobubble.png" />
<link rel="shortcut icon" href="http://thesexycow.com/pablomedia/images/pablobubble_icon.png" />
<LINK href="/pablomedia/style.css" rel="stylesheet" type="text/css">
<title>Pablo says</title>
</head>

<body> 
<div class="wrapper">

<div class="content">
<div class="header"></div>
<h2>Pablo says:</h2>

<div id="sentence">{{ sentence }}</div>

</div>
<!-- footer area --> 
    <div class="push"></div>
</div>

<div class="footer">
    <div class="option">
	<form name="saveform" action="/store/" method="post">
	{% csrf_token %}
	<input name="saved" type=hidden value="{{sentence}}">
	<span class="savelink" onClick="document.saveform.submit();">Save</span>
	</form>
    </div>
    <br />
    <div class="option"><A HREF="/">Get new</A></div>
    <div class="rightfoot">
        <div class="fblike">
<iframe src="http://www.facebook.com/plugins/like.php?href=thesexycow.com&amp;layout=standard&amp;show_faces=true&amp;width=200&amp;action=like&amp;font=arial&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:80px;" allowTransparency="true"></iframe>
        </div>
        <div class="credits">Made by <a href="#">Arian</a> and <a href="#">Aman.</a></div>
        <a href="admin">admin</a> | Inspired by <a href="http://whatthefuckshouldimakefordinner.com/" target="new">this</a> and <a href="http://goo.gl/xkl2" target="new">this.</a>
    </div>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19283300-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
