{% extends "base.html" %}
{% block meta %}
<META name="description" content="This is what Pablo says." />
<meta property="og:title" content="what Pablo said"/>
<meta property="og:type" content="website" />
<meta property="og:url" content="http://thesexycow.com/" />
<title>Pablo says</title>
{% endblock %}

{% block content %}
<div class="header"></div>
<h2>Pablo says:</h2>

<div id="sentence">{{ sentence }}</div>
{% endblock %}

{% block nav %}
<div class="option">
	<form name="saveform" action="/store/" method="post">
		{% csrf_token %}
		<input name="saved" type=hidden value="{{sentence}}">
		<span class="savelink" onClick="document.saveform.submit();">Save</span>
	</form>
</div>
<br />
<div class="option"><A HREF="/">Get new</A></div>
{% endblock %}
