<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<META name="description" content="{{sentence}}" />
<meta property="og:title" content="what Pablo said" />
<meta property="og:site_name" content="TheSexyCow.com" />
<meta property="fb:admins" content="29101291" />
<!-- <link rel="shortcut icon" href="http://thesexycow.com/pablomedia/images/favicon.ico" /> -->
<LINK href="/djtestmedia/style.css" rel="stylesheet" type="text/css">
<title>Pablo said...</title>
</head>

<body>

<h2>Pablo said...</h2>

<div id="sentence" style="margin-bottom:20px;">
{{ sentence }}
</div>

<div style="padding-left:10px;">
Sentence {{ sid }} saved on {{ save_date }} <br />
Number of Votes: {{ votes }} <a href="/djtest/vote/{{ sid }}">Vote</a>
</div>

<br><br>
<a href="/djtest/">Go back</a>
</body>

</html>
